body {
    margin: 0;
    padding: 25px;
    height: 100vh;
    background-color: white;
}

.solid-container {
    width: 100%;
    border: 5px solid black;
    padding: 10px;
}

#purple-rectangle {
    display: inline-block;
    width: 70px;
    height: 180px;
    background-color: blueviolet;
}

#green-rectangle {
    background-color: green;
    width: 400px;
    height: 250px;
    display: inline-block;
    margin: 0 50px;
}

#blue-circle {
    background-color: lightskyblue;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
}

.dotted-container {
    width: 100%;
    margin-top: 30px;
    border: 5px dotted black;
    padding: 40px;
}

#yellow-rectangle {
    height: 200px;
    background-color: rgb(255, 255, 166);
    box-shadow: 10px 10px 5px rgba(75, 27, 27, 0.678);
}

.hello-friends-container {
    width: 500px;
    height: 350px;
    border: 1px solid gray;
    margin: 30px auto;
    box-shadow: 5px 5px 5px rgba(182, 182, 182, 0.678);
}

.hello-friends-container h2 {
    text-align: center;
    margin-top: 130px;
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 40px;
    font-weight: bold;
    color: rgb(25, 25, 139);
}